{{!-- <h1>{{appTitle}} </h1> --}}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <div class="div-welcome">
    <p> <b> WELCOME TO FEATURED</b> </p>
    <p>Your Go To for newest released albums! Stay up to date with all of your favorite music and artist. Sign up for updates on all of the trending and newly released albums</p>
    <nav class="navbar bg-body-tertiary">   
      
  <div class="container-fluid">
  </div>
 
  <div class="div-auth">
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    
  </div>
</nav>
 </div> 

</body>
</html>

