<h2>{{details.albumTitle}}</h2>
<p>{{details.artist}}</p>
 <img class="specific-album-img" src={{details.images}} />

<br />

  <form action="/album-details/save-album/{{details._id}}" method="post">
            <button type="submit">Save Album</button>
        </form>
    </div>

<a href="/all-new-releases">Return to All Albums</a>