
    <div class="div-albums">
        {{#each albums}}
      <h1 class="specific-album-heading">{{this.albumTitle}}</h1>
      <img class="specific-album-img" src={{this.images}} />
      <a class="specific-album-button" href="/tracks/{{this.spotifyId}}">View Tracks</a> 
      {{/each}}
    </div>

{{!-- 
    {{this.images.0.url}}  --}}
